@charset "UTF-8";
/* CSS Document */
* {margin: 0px; padding: 0px;}
/*
#demo,
*/
#slide-container,
#slide-container .item,
#slide-container .item a,
#slide-container .background{ width:1080px; height:875px; }
/*
#demo{ overflow:hidden; }
#slide-container{ position:relative; background-color:#eee; }
*/

#slide-container .item{ position:absolute; top:0; left:0; display:none; overflow:hidden; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#slide-container .item a{ display:block;  width:100%; height:875px; }
#slide-container .item a:hover{ text-decoration:none; }
#slide-container .background { position:absolute; background-position:center center; background-repeat:no-repeat; overflow:hidden; }
#slide-container .foreground{ position:absolute; padding:150px 100px; }
#slide-container .foreground .element { position: relative; }
#slide-container .title{ margin-bottom:10px; font-size:50px; font-weight:bold; color:#fff; }
#slide-container .subtitle{ font-size:16px; color:#fff; }
#slide-container .first .background{ background-image:url(../img/main01.jpg); }
#slide-container .second .background{ background-image:url(../img/main02.jpg); }
#slide-container .third .background{ background-image:url(../img/main03.jpg); }
#slide-container .fourth .background{ background-image:url(../img/main04.jpg); }
/*

#slide-container .controller .pager{ position:absolute; top:230px; z-index:9999; }
#slide-container .controller .prev{ left:20px; }
#slide-container .controller .next{ right:20px; }
.pagination{ position:relative; left:50%; float:left; margin-top:40px; }
.pagination li { float:left; position: relative; right:50%; margin:0 1px; list-style:none; }
.pagination li .bullet { display:block; width:12px; height:0 !important; padding-top:12px; background-image:url(../img/slides.jquery/pagination.png); background-position:0 0; float:left; overflow:hidden; }
.pagination li .active { background-position:0 -12px; }
*/

#movie-area .item video {width:1080px;}